# POSTGRES DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678
POSTGRES_DB=raggy
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# MILVUS VECTOR DB
MILVUS_HOST=localhost
MILVUS_PORT=19530
MILVUS_USERNAME=root
MILVUS_PASSWORD=Milvus
