# POSTGRES DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678
POSTGRES_DB=raggy
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# MILVUS VECTOR DB
MILVUS_HOST=localhost
MILVUS_PORT=19530
MILVUS_USERNAME=root
MILVUS_PASSWORD=Milvus

# OPENAI
OPENAI_API_KEY=

# CORS AND CSRF
DJANGO_ALLOWED_HOSTS="localhost:8000,localhost:5173"
DJANGO_CSRF_TRUSTED_ORIGINS="http://127.0.0.1:8000,http://127.0.0.1:5173"
DJANGO_CORS_ORIGIN_WHITELIST="http://127.0.0.1:8000,http://127.0.0.1:5173"