# All files listed here will be ignored by git
.idea
.docker
backend/.env
.env

# Mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Ngrok
ngrok

# ssh
.ssh/

# File uploads
media/
